@import "../variable";

.noticeBox {
  // padding-top: rem(33px);
  background: $BACKGROUND;
  .notices {
    padding-top: rem(55px);
    .infoBox {
      font-size: rem(14px);
      // margin-bottom: rem(20px);
      display: flex;
      border-bottom: 1px solid #eeeeee;
      div:first-child{
        width: 100%;
      }

      >div {
        color: #333333;
        // display: flex;
        justify-content: center;
        align-self: center;
        
        .infoMain {
          // padding: rem(10px);
          overflow: hidden;
          // border-bottom: 1px solid #eeeeee;
          display: flex;
          flex: 1;
          justify-content: space-between;
          margin-top: rem(20px);
          margin-bottom: rem(20px);
          .infoMain-top{
            display: flex;
            padding-bottom: rem(10px);
          }

          .infoMain-bottom{
            
          }

          .time {
            color: $LIGHT_LIGHT_FONT_COLOR;
            // text-align: center;
            font-size: rem(12px);
            margin-top: rem(10px);
          }
          .title{
            color: $FONT_COLOR;
            // padding: rem(10px) 0;
            font-size: rem(18px);
            border-left: 3px solid $ACTIVE_COLOR;
            padding-left: rem(5px);
            margin-left: rem(10px);
          }
          .contentWrapper{
            display: flex;
            flex-direction: column;
            background: $LIGHT_GRAY_BACKGROUND;
            padding: rem(10px) 0;
            .content{
              // white-space: nowrap;
              // text-overflow: ellipsis;
              color: $FONT_COLOR;
              width: 100%;
              overflow: hidden;
              font-size: rem(14px);
              margin: 0 auto;
              line-height: rem(20px);
              padding: rem(5px) rem(10px);
            }
          }
        }
        
        .infoMain-column{
          flex-direction: column;
          margin-bottom: 0;
        }

        svg {
          transform: rotate(180deg);
          width: rem(15px);

        }
      }
      .blueDot{
        border-right: 2px solid $LIGHT_FONT_COLOR;
        border-top: 2px solid $LIGHT_FONT_COLOR;
        width: 10px;
        height: 10px;
        background-color: $BACKGROUND;
        transform: rotate(135deg);
        margin-left: 15px;
        // margin-top: 5px;
        align-self: center;
        margin-right: rem(10px);
        
      }
      .blueDot-down{
        transform: rotate(45deg);
      }
      .blueDot-up{
        transform: rotate(135deg);
      }
    }
    
  }
  .main {
    padding: rem(45px) rem(15px);
    font-size: rem(14px);
    height: 100%;
    background: $BACKGROUND;
    > div {
      padding: rem(10px) 0;
      .time{
        color: $LIGHT_FONT_COLOR;
        margin-top: rem(10px);
      }
      .title{
        color: $LIGHT_FONT_COLOR;
        font-size: rem(16px)
      }
    }
    .infoMain{
      line-height: rem(30px);
      color: $LIGHT_FONT_COLOR;
    }
  }
}
