@import "../variable";

.changePassword{
  background: $BACKGROUND;
  height: 100%;
  .main{
    padding: rem(55px) rem(20px) 0;
    > div{
      padding-top: rem(50px);
      h4{
        font-size: rem(24px);
      }
    }
    .titleText{
      font-size: rem(26px);
      color: $FONT_COLOR;
    }
    ul{
      li{
        background: $BACKGROUND;
        border-bottom: 1px solid $LIGHT_PURPLE;
        justify-content: flex-start;
        display: flex;
        padding: rem(12px);
        position: relative;
        margin: rem(15px) 0;
        span{
          font-size: rem(16px);
          display: inline-block;
          width:25%;
          text-align: left;
          vertical-align: center;
          padding: rem(3px);
          color: $LIGHT_PURPLE;
        }
        input{
          width: 70%;
          font-size:rem(16px);
          outline: none;
          background: $BACKGROUND;
          color: $FONT_COLOR;
        }
        .closeBox{
          position: absolute;
          top: rem(8px);
          right: rem(2px);
          width: 10%;
          .close{
            fill:#000000;
            width: rem(25px);
          }
          .small{
            width: rem(25px);
            height: rem(25px);
          }
        }
      }
    }
    .buttonBox{
      margin-top: rem(40px);
      .submit{
        width: 100%;
        padding: rem(15px);
        font-size: rem(18px);
        color: $WHITE;
        background: $ACTIVE_COLOR;
        text-align: center;
        border-radius: rem(4px);
        border: 1px solid $WHITE;
      }
      .already{
        background: #C7C7C7;
      }
      .tips{
        color: $GREY_FONT_COLOR;
        padding: rem(5px) 0;
        font-size: rem(14px);
        text-align: center;
      }
    }
    >p{
      text-align: center;
      font-size: rem(14px);
      margin-top: rem(10px);
      a{
        color: $ORANGE;
      }
    }
  }
}