@import "../variable";

.changePhoneNumber{
  .main{
    ul{
      li{
        position: relative;
        p{
          text-align: center;
        }
        .send{
          position: absolute;
          top: rem(10px);
          right: rem(3px);
          font-size: rem(16px);
          border: 1px solid $BUTTON_COLOR;
          color: $HEADER_COLOR;
          padding: rem(5px) rem(5px);
          border-radius: rem(3px);
        }
        .confirm{
          top: rem(14px);
        }
        input{
          background: transparent;
          width: rem(200px);
        }
      }

      .imageCode{
        margin-top: rem(15px);
      }
      .imageBox{
        img{
          height: rem(25px);
        }
        input{
          padding: rem(6px) 0;
        }
      }
    }
  }
}