@import "../variable";

.drawer{
  .drawer-title{
    display: flex;
    justify-content: space-between;
    font-size: rem(15px);
    padding: rem(15px) ;
    // margin-top:rem(5px);
    //margin-left: rem(15px);
    // background: $LIGHT_GRAY_BACKGROUND;
    border-bottom: 1px solid $BOX_LINE;
    .left{
      display: flex;
      >div{
        margin-bottom: rem(5px);
        color: $FONT_COLOR;
      }
      .point{
        display: inline-block;
        width: rem(8px);
        height: rem(8px);
        border-radius: 50%;
        background: $HEADER_COLOR;
        margin-left: rem(3px);
      }
      p{
        font-size: rem(12px);
        
      }
    }
    .right{
      fill:#C7C7C7;
      width: rem(16px);
      height: rem(16px);
      transform: rotate(-45deg);
      &.active{
        transform: rotate(135deg);
      }
    }
  }
  .drawer-des{
    font-size: rem(14px);
    padding: rem(10px);
    color: $DEEP_GREY_FONT_COLOR;
    text-align: left;
    line-height: 1.8;
    overflow: hidden;
    background: linear-gradient(#f0f0f0,#fff);
    p,div,a{
      color: $FONT_COLOR;
    }
    .time{
      text-align: right;
    }
  }
}