@import "../variable";

.selectBankBox{
  position: fixed;
  top: 0;
  left:0;
  height: 100%;;
  z-index: 100;
  width: 100%;
  .selectBankHeader{
    background: $HEADER_COLOR;
    padding: rem(5px) rem(10px);
    height: rem(44px);
    color: $BACKGROUND;
    .backTag{
      position: absolute;
      width: rem(40px);
      height: rem(32px);
      left: 0;
      align-self: center;
      display: flex;
      .arrow{
        fill:$BACKGROUND;
        height: rem(16px);
        align-content: center;
        justify-content: center;
      }
      .out{
        display: inline-block;
        height: rem(36px);
        vertical-align: top;
        >div{
          margin-top: rem(-2px);
        }
      }
    }
    .title{
      text-align: center;
      font-size: rem(16px);
      line-height: rem(34px);
      align-self: center;
      height: 100%;
    }
  }
  .selectBankMain{
    margin-top: rem(10px);
    ul{
      background: $BACKGROUND;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
      li{
        text-align: center;
        display: inline-block;
        background: $WHITE;
        border-radius: rem(5px);
        width: rem(100px);
        height: rem(88px);
        padding:rem(15px) rem(10px);
        font-size: rem(14px);
        margin:rem(6px) rem(8px);
        img{
          width: rem(35px);
          margin-bottom: rem(5px);
        }
      }
    }
  }
}