@import "../variable";

.mainMenu{
    background: $ACTIVE_COLOR;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;//99.99%;

    ul{
        width: 100%;
        padding-top: rem(100pxs);
        li{
            width: 100%;
            display: flex;
            padding: rem(10px) 0 rem(10px) rem(10px);
            a{
                display: flex;
                div{
                    display: flex;
                }
                .imageBox{
                    width: rem(32px);
                    height: rem(32px);
                    svg{
                        width: rem(32px);
                        fill: $WHITE;
                    }
                }
                .title{
                    display: flex;
                    font-size: rem(16px);
                    align-items: center;
                    margin-left: rem(10px);
                    color: $WHITE;
                }
            }
        }
    }
}