@import "../variable";

.listInfo{
  background: $BACKGROUND;
  min-height: 100%;
  .main{
    padding-top: rem(44px);
    .title{
      background: $BACKGROUND;
      padding: rem(15px);
      font-size: rem(16px);
      .money{
        font-size: rem(26px);
        margin-top: rem(5px);
        span{
          font-size: rem(14px);
        }
      }
    }
    .info{
      margin-top: rem(15px);
      background: $BACKGROUND;
      h4{
        font-size: rem(16px);
        padding: rem(10px);
        border-bottom: 1px solid $BOX_LINE;
        color: $ACTIVE_COLOR;
      }
      >div{
        display: flex;
        justify-content: flex-start;
        font-size: rem(14px);
        padding: rem(8px);
        p{
          width: rem(130px);
          color: $GREY_FONT_COLOR;
        }
      }
    }
  }
  .red{
    color: $RAISE;
  }
  .green{
    color: $FALL;
  }
}