@import "../variable";

.searchArea{
    position: absolute;
    top: 0;
    left: 0;
    background: $WHITE;
    width: 100%;
    height: 100%;
    z-index: 99;
    .inputBox{
      // border: 1px solid $FONT_COLOR;
      background: #eaeaea;
      width: 95%;
      display: flex;
      margin: rem(10px);
      border-radius: rem(5px);
      .imageBox{
        height: 100%;
          width: rem(30px);
          
        svg{
          height: rem(50px);
          width: rem(30px);
          fill: $FONT_COLOR;
        }
      }
      .cancelButton{
        background: $WHITE;
        color: #000;
        font-size: rem(14px);
        display: flex;
        flex: 1;
        align-items: center;
        padding-left: rem(5px);
      }
      input{
        color: #000;
        font-size: rem(14px);
        width: 90%;
        padding: 0 rem(10px);
        background: transparent;
        padding: rem(10px) rem(5px);
      }
    }
    >div{
      // padding: rem(60px) 0;
      // width: 100%;
      // height: 100%;
      a{
        font-size: rem(14px);
        display: block;
        width: 100%;
       // background: $LIGHT_LINE;
        color: $ACTIVE_COLOR;
        padding: rem(13px);
        border-bottom: 1px solid $LIGHT_LINE;
      }
    }
  }