@import '../variable';

.register {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  div {
    font-size: 0;
  }
  .main {
    // margin-top: rem(44px);
    // padding: rem(0) rem(20px);
    padding-top: rem(65px);
    .infoBox {
      padding: rem(30px);
      h4{
        font-size: rem(24px);
        margin: rem(60px) 0 rem(20px);
      }
      p{
        font-size: rem(12px);
        color: $GREY_FONT_COLOR;
      }
      .title{
        font-size: rem(16px);
        margin-top: rem(0px);
        font-size: rem(15px);
        color: $LIGHT_PURPLE;
        margin: rem(5px);
      }
      .inputBox{
        // border: 1px solid $LIGHT_GRAY_BACKGROUND;
        display: flex;
        justify-content: space-between;
        padding: rem(12px) rem(10);
        margin-bottom: rem(30px);
        background: $LIGHT_GRAY_BACKGROUND;
        border-radius: 12px;
        input {
          width: 70%;
          background: transparent;
          outline: none;
          font-size: rem(14px);
          border: none;
          padding:0 rem(0px);
         color: $HEADER_COLOR;
        }
        .getCode {
          font-size: rem(12px);
          text-align: center;
          float: right;
          color: $LIGHT_PURPLE;
          vertical-align: bottom;
          margin-top: rem(4px);
        }
      }
      .buttonBox{
        margin-top: rem(40px);
        .tips{
          text-align: center;
          margin-bottom: rem(10px);
          font-size: rem(14px);
        }
        .submit {
          text-align: center;
          font-size: rem(14px);
          background: $ACTIVE_COLOR;
          padding: rem(10px) rem(10px);
          border-radius:rem(33px);
          border: 1px solid $WHITE;
          color: $WHITE;

        }
      }
    }
  }
}
