@import "../variable";

.loginMain{
  background-color: $BACKGROUND;
  height: 100%;
  .loginLogoWrapper{
    text-align: center;
    // padding: rem(50px) 0;
    .loginLogo{
      // width: rem(120px);
      // height: rem(120px);
    }
  }
  
  .header {
    background: $BACKGROUND;
    height: rem(44px);
    justify-content: left;
    line-height: rem(36px);
    svg {
      fill: #999999;
      width: rem(14px);
    }
    span{
      font-size: rem(14px);
      color: #999999;
    }
  }

 .linkGroup{
  //  margin-top: rem(44px);
   position: relative;
   display: flex;
   flex-direction: row;
    justify-content: space-evenly;
   .linkWrapper{
    display: flex;
    //  width: 50%;
     background-color: $BACKGROUND;   
     justify-content: center;
     margin-bottom: rem(20px);
     a{
      color: $BOX_LINE;
      div{
       color: inherit;
       display: inline;
       font-size: rem(16px);
      }
    }
   }
   .linkActive{
    color: $ACTIVE_COLOR !important;
   }
 }
}

.login {
  position: relative;
  // display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  background: $BACKGROUND;
  .logoWrapper{
    width: 100%;
    height: rem(140px);
    display: flex;
    margin-top: rem(20px);
    justify-content: center;
    .logoBox{
      width: rem(106px);
      height: rem(112px);
    }
  }
  
  h4 {
    position: absolute;
    top: rem(150px);
    width: 100%;
    font-size: rem(22px);
    color: $FONT_COLOR;
    padding-left: rem(20px);
  }
  img {
    // position: absolute;
    width: 100%;
    // z-index: 0;
  }
  .imgLeft {
    width: 5rem;
    top: 1.5rem;
    left: -2.2rem;
  }
  .imgRight {
    bottom: 0;
    left: 0;
  }
  .main {
    background: transparent;
    padding:rem(44px) rem(20px) 0;
    
    .loginInfo {
      background: $BACKGROUND;
      display: flex;
      overflow: hidden;
      margin-bottom: rem(20px);
      width: 100%;
      border: 1px solid $LIGHT_GRAY_BACKGROUND;
      border-radius: 10px;
      .icon {
        fill: $LIGHT_FONT_COLOR;
        margin: rem(7px);
      }
      .passwordBox{
        display: flex;
        background: $LIGHT_GRAY_BACKGROUND;
        flex: 1;
        // flex-direction: column;
        svg{
          fill: $BOX_LINE;
        }
        .passwordBox-title{
          font-size: rem(15px);
          color: $LIGHT_PURPLE;
        }
        input {
          width: rem(280px);
          height: 100%;
          background: transparent;
          outline: none;
          font-size: rem(14px);
          border: none;
          padding: rem(12px) rem(10);
          color: $HEADER_COLOR;
        }
       >div{
         display: flex;
         margin: rem(5px);
         svg{
           width: rem(20px);
           height: rem(20px);
           justify-content: center;
           align-self: center;

         }
       }
      }
    }
    .buttonBox {
      background: $ACTIVE_COLOR;
      font-size: rem(14px);
      padding:rem(10px);
      text-align: center;
      border-radius: rem(33px);
      margin: rem(40px) rem(20px);
      font-size: rem(14px);
      border: 1px solid $WHITE;
      .button{
        color: $WHITE;
      }
    }
    .none{
      background: $WHITE;
      border: 1px solid $ORANGE;
      display: flex;
      // justify-content: center;
      align-items: center;
      border-radius: rem(33px);
      margin: rem(60px);
      font-size: rem(14px);
      padding:rem(10px) 0;
      // width: 60%;
      a{
        text-align: center;
        color: $ACTIVE_COLOR;;
        width: 100%;
      }
    }
    .last {
      border: none;
      display: flex;
      justify-content: center;
      padding: rem(10px) 0;
      a {
        font-size: rem(14px);
        color: $GREY_FONT_COLOR;
      }
    }
  }
}