@import './../../../css/variable.scss';

@import './../../../css/variable.scss';

.holidayBox{
    display: flex;
    flex-direction: column;
    flex: 1;
    .holidayList{
        margin-top: rem(10px);
        .cell{
            padding: 0 rem(10px);
            margin: 0 rem(10px) rem(10px);
            border-bottom: 1px solid $GREY_FONT_COLOR;
            padding-bottom: rem(10px);
            .title{
                font-size: rem(18px);
                color: $BASIC_FONT_COLOR;
                text-align: center;
            }
            .date{
                font-size: rem(12px);
                color: $GREY_FONT_COLOR;
                text-align: right;
                margin-top: rem(10px);
            }
        }
    }
    .emptyBox{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        div{
            font-size: rem(16px);
            color: $GREY_FONT_COLOR;
            text-align: center;
        }
    }
}