@import "../variable";

.quotationBox {
  height: 100vh;
  background: $BACKGROUND;
  overflow-y: auto;

  .editableButton{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $BACKGROUND;
    ul{
      display: flex;
      justify-content: space-between;
      padding: rem(10px) rem(10px);
      li{
        font-size: rem(14px);
      }
      li:first-child{
        color: $FONT_COLOR;
      }
      li:last-child{
        color: $FONT_COLOR;
      }
    }
  }
  .headerTop {
    height: rem(44px);
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: $BACKGROUND;
    align-items: center;
    padding: 0 rem(10px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 70;
    .headerTop-imageBox{
      width: rem(32px);
      height: rem(32px);
      svg{
        width: rem(32px);
        height: rem(32px);
        fill: $WHITE;
      }
    }

    .editBox{
      color: $FONT_COLOR;
    }

    .pageSelection{
      border: 1px solid $WHITE;
      display: flex;
      border-radius: 4px;
      .text{
        color: $WHITE;
        font-size: rem(18px);
        padding: rem(5px) rem(20px);
      }
      .selectedPage{
        color: $ACTIVE_COLOR;
        background: $WHITE;
      }
    }
    
  }


  .categoryQuotation{
    overflow: hidden;
    display: flex;
    padding-top: rem(44px);
    position: fixed;
    top: 0;
    width: 100%;
    background: $BACKGROUND;
    div {
      font-size: rem(14px);
      padding: rem(5px) rem(10px);
      flex: 1;
      text-align: center;
      align-self: center;
      color: $LIGHT_FONT_COLOR;
    }
    div:first-child{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    div:last-child{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .activeTop{
      color: $FONT_COLOR !important;
      border-bottom: 3px solid $FONT_COLOR;
    }
  }
  .quotation {
    padding-top: rem(85px);
    padding-bottom: 0;
    .title {
      width: 100%;
      font-size: rem(14px);
      display: flex;
      // background: $WHITE;
      > div {
        flex: 1;
        text-align: center;
        padding: rem(0px) rem(10px) rem(10px);
        color: $LIGHT_FONT_COLOR;
        font-size: rem(12px);
      }
    }
    .main {
      // background: $WHITE;
      .hide{
        display: none;
      }
      .editBox{
        display: flex;
        align-items: center;
        margin-left: rem(10px);
        .editBox-circle{
          width: rem(20px);
          height: rem(20px);
          border-radius: rem(20px);
          border: 1px solid $LIGHT_LIGHT_FONT_COLOR;
        }
        .editBox-circle-select{
          width: rem(20px);
          height: rem(20px);
          border-radius: rem(20px);
          background: $HEADER_COLOR;
        }
      }
      .boxWrapper{
        display: flex;
      }
      a{
        display: flex;
        flex: 1;
      }
      .box {
        display: flex;
        // border-bottom: 1px solid #F5F5F5;
        padding: rem(5px) 0;
        flex: 1;
        background: #28334A;
        margin: 0 rem(10px) rem(10px);
        > div {
          flex: 1;
          text-align: center;
          font-size: rem(14px);
          align-self: center;
          justify-content: center;
          padding: rem(5px);
          color: #000;
          p {
            font-size: rem(12px);
            color: $FONT_COLOR;
            margin-top: rem(3px);
          }
          span {
            font-size: rem(6px);
            padding: rem(2px) rem(3px);
            vertical-align: top;
            margin-left: rem(2px);
          }
          &:first-child{
            text-align: left;
            div , p{
              padding-left: rem(15px);
            }
            div{
              color: $WHITE;
            }
            p{
              color: #D1D1D1;
              font-size: rem(12px);
            }
          }
        }
        .change {
          display: flex;
          .rest{
            color: $FONT_COLOR;
          }
        }
      }
    }
    .none{
      text-align: center;
      padding:rem(20px);
      font-size: rem(20px);
      color: $GREY_FONT_COLOR;
    }
    .bgRed, .bgGreen {
      // background: $RAISE;
      border-radius: rem(4px);
      width: rem(90px);
      padding: rem(6px);
      text-align: center;
      justify-content: center;
      align-self: center;
      color: $RAISE;
    }
    .bgGreen {
      color: $FALL;
    }
    .red {
      color: $RAISE;
    }
    .green {
      color: $FALL;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      padding: rem(10px);
      display: flex;
      justify-content: center;
      align-self: center;
      background: $BACKGROUND;
      width: 100%;
      > a {
        justify-content: center;
        align-self: center;
        font-size: rem(16px);
        padding: rem(7px);
        text-align: center;
        margin: 0 rem(10px);
        width: rem(110px);
      }
      .unSelect {
        color: $HEADER_COLOR;
        border: 1px solid $HEADER_COLOR;
        border-radius: rem(5px);
      }
    }
  }
  .quotation-heightOffset{
    padding-top: rem(44px);
  }
  .imgCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    padding: rem(20px);
    z-index: 100;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 80%;
    }
  }
}