@import "../variable";


$pad:rem(8px);
.orderPage{
  background: rgba(0,0,0,.2);
  @include nav-page-bottom;
  .top{
    height: 30%;
    background: transparent;
  }
  .body{
    overflow-y: auto;
    height: 70%;
    background: $DEFAULT_BACKGROUND;
  }
  .pad-left{
    padding-left: $pad;
  }
  .pad-right{
    padding-right: $pad;
  }
  .sub-title,.sub-title2{
    font-size: rem(15px);
    height: rem(34px);
    line-height: rem(34px);
  }
  .sub-title2{
    padding-left: $pad;
  }
  .balance{
    font-size: rem(40px);
    height: rem(48px);
    line-height: rem(48px);
    padding-left: $pad;
    border-bottom: 1px solid $BOX_LINE;
    display: flex;
    justify-content: space-between;
    .balanceBox{
      font-size: rem(22px);
    }
    .closed{
      margin-right: rem(8px);
      align-self: center;
      fill:$GREY_FONT_COLOR;
      width: rem(18px);
    }
  }
  .submit{
    width: rem(355px);
    height: rem(44px);
    line-height: rem(44px);
    text-align: center;
    align-self: center;
    margin: rem(12px) auto 0 auto;
    background-color: $HEADER_COLOR;
    color: $WHITE;
    font-size: rem(17px);
    border-radius: 4px;
    position: absolute;
    bottom: rem(10px);
    left: rem(10px);
  }
  .raise{
    color: $RAISE;
  }
  .fall{
    color: $FALL;
  }
  .raiseBg{
    background: $RAISE;
  }
  .fallBg{
    background: $FALL;
  }
  .btn{
    &.raise{
      color: $RAISE;
    }
    &.fall{
      color: $FALL;
    }
    min-width: rem(70px);
    height: rem(30px);
    line-height: rem(30px);
    font-size: rem(17px);
    padding: 0 rem(10px);
    background-color: $DEFAULT_BACKGROUND;
    color: $GREY_FONT_COLOR;
    align-self: center;
    text-align: center;
  }
  .zero{
    text-align: right;
  }
  .btn-group{
    font-size: 0;
    padding-right: $pad;
    align-self: center;
    >div{
      display: inline-block;
      vertical-align: middle;
      height: rem(30px);
      line-height: rem(30px);
      font-size: rem(15px);
      padding: 0 rem(20px);
      border: 1px solid $HEADER_COLOR;
      color: $GREY_FONT_COLOR;
      &:first-child{
        border-radius: 5px 0 0 5px;
      }
      &:last-child{
        border-radius: 0 5px 5px 0;
      }
      &.active{
        background-color: $HEADER_COLOR;
        color: $WHITE;
      }
    }
  }
  .btn-list{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    &.pad-left{
      >li{
        margin: 4px 8px 4px 0;
      }
    }
    >li{
      &.active{
        background-color: $HEADER_COLOR;
        color: $WHITE;
      }
      min-width: rem(60px);
      height: rem(30px);
      line-height: rem(30px);
      align-self: center;
      border: 1px solid $HEADER_COLOR;
      border-radius: 4px;
      padding: 0 rem(6px);
      font-size: rem(15px);
      text-align: center;
      color: $GREY_FONT_COLOR;
    }
  }
  .grid{
    border-bottom: 1px solid $BOX_LINE;
    display: flex;
    .left{
      font-size: rem(16px);
      height: rem(40px);
      line-height: rem(40px);
      padding-left: $pad;
      align-self: center;
      >span{
        &.raise{
          color: $RAISE;
        }
        &.fall{
          color: $FALL;
        }
      }
    }
  }
  .row-des{
    height: rem(40px);
    justify-content: space-between;
    .contract{
      font-size: rem(16px);
      align-self: center;
      padding-left: $pad;
      span{
        font-size: rem(20px);
      }
    }
    .des{
      font-size: rem(16px);
      align-self: center;
      padding-right: $pad;
      color: $GREY_FONT_COLOR;
    }
  }
  .row-controller{
    justify-content: space-between;

  }
  .row-column{
    flex-direction: column;
    padding-bottom: rem(10px);
  }
}