@import "variable";
@import "eric-meyer-reset.min.css";
@import "normalize.css";
@import "common/index";
@import "home/index";
@import "trade/index";
@import "rule/index";
@import "order/index";
@import "position/index";
@import "position/listInfo";
@import "login/index";
@import "register/index";
@import "cs/index";
@import 'info/detail';
//todo 账户
@import "account/accountSet";
@import "account/changePassword";
//todo 行情
@import "quotation/index";
//todo 公告
@import "notice/index";
//todo 排行
@import "topList/index";
//todo 直播
@import "live/index";

@import "home/recomment";

@import "drawer/mainMenu";
@import "drawer/share";

@import "search/index";
@import './../view/finance/css/index';
*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //font-family: "Microsoft Yahei", Helvetica, Tahoma, Arial, sans-serif;
  font-family: "Microsoft Yahei";
  color: $FONT_COLOR;
}

body,html{
  height: 100%;
}

#root{
  height: 100%;
  >div{
    height: 100%;
    //.switch-swipe{
    //  height: 100%;
    //  >div{
    //    &:last-child{
    //      height: 100%;
    //    }
    //  }
    //}
  }
}
