@import "../variable";

.topList{
  .header{
    background: $ORANGE;
    color: $WHITE;
  }
  .main{
    position: relative;
    img{
      width: 100%;
    }
    .top{
      position: absolute;
      top: rem(240px);
      left: rem(35px);
      width: rem(310px);
      height: rem(90px);
      background: $WHITE;
      border-radius:rem(10px);
      display: flex;
      justify-content: center;
      img{
        width: rem(45px);
        height: rem(60px);
        justify-content: center;
        align-self: center;
        margin: 0 rem(15px);
      }
      div{
        margin: 0 rem(15px);
        font-size: rem(16px);
        justify-content: center;
        align-self: center;
        >div{
          margin: rem(5px) 0;
        }
        .name{
          color: $FONT_COLOR;
        }
        .percent{
          font-size: rem(18px);
          color: $ORANGE;
        }
        .last{
          >div{
            background: $ORANGE;
            padding:rem(3px) rem(5px);
            width: rem(60px);
            color: $WHITE;

          }
        }
      }
    }
    ul{
      margin-top: rem(40px);
      li{
        padding: rem(10px) rem(40px);
        display: flex;
        justify-content: space-between;
        .left{
          display: flex;
          img{
            width: rem(35px);
            height: rem(40px);
            align-self: center;
            &:nth-child(1){
              width: rem(30px);
              height: rem(35px);
            }
            &:nth-child(2){
              margin: 0 rem(10px);
            }
          }
          div{
            font-size: rem(16px);
            align-self: center;
          }
          .num{
            width: rem(35px);
            height: rem(40px);
            text-align: center;
            line-height: rem(40px);
          }
        }
        .right{
          justify-content: center;
          align-self: center;
          >div{
            font-size: rem(18px);
            &:nth-child(2){
              font-size: rem(12px);
              color: $ORANGE;
              margin-top: rem(5px);
              text-align: right;
            }
          }
        }
        &:nth-child(odd){
          background: #F6F6F6;
        }
      }
    }
  }
}